@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-dark: #151515;
	--color-light: #fffff8;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bkg: var(--color-dark);
		--color-top: var(--color-light);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--color-bkg: var(--color-light);
		--color-top: var(--color-dark);
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

html,
body,
#root,
#root > * {
	min-height: 100vh;
}

body {
	padding: none;
}

.btn__primary {
	margin: 1.5rem auto;
	font-size: 1.6rem;
	border-radius: 0.5rem;
	border: 1px solid var(--color-top);
	padding: 0.5rem 1rem;
	color: var(--color-bkg);
	background: var(--color-top);
}
.btn__primary:hover {
	opacity: 0.7;
}

.list-content {
	padding: 2rem;
	background: url('../public/pexels-photo-13210997.jpeg');
	background-size: cover;
}

.navlist {
	border-top: 1px solid var(--color-top);
	background: var(--color-bkg);
}

/* 

review
.theme {
          color: #c7b8e9,
          'primary-focus': '#4506cb',
          'primary-content': '#ffffff',
          'secondary': '#f000b8',
          'secondary-focus': '#bd0091',
          'secondary-content': '#ffffff',
          'accent': '#37cdbe',
          'accent-focus': '#2aa79b',
          'accent-content': '#ffffff',
          'neutral': '#3d4451',
          'neutral-focus': '#2a2e37',
          'neutral-content': '#ffffff',
          'base-100': '#ffffff',
          'base-200': '#f9fafb',
          'base-300': '#d1d5db',
          'base-content': '#1f2937',
          'info': '#2094f3',
          'success': '#009485',
          'warning': '#ff9900',
          'error': '#ff5724', */
