<!-- temp for forming tbr with FE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree planting</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Populate the orchard!</h1>
    <form action="/create-tree" method='POST'> 
        <label for="passcode">Type nothing here</label>
        <input type="text" value="" id="passcode" placeholder="Authorized use only" name="passcode">
        <input type="text" placeholder="overall question" name='question'>
        <input type="text" placeholder="starter" name="starter">
        <input type="text" placeholder="Y" name='Y'>
        <input type="text" placeholder="YY" name='YY'>
        <input type="text" placeholder="YN" name='YN'>
        <input type="text" placeholder="YYY" name='YYY'>
        <input type="text" placeholder="YYN" name='YYN'>
        <input type="text" placeholder="YNY" name='YNY'>
        <input type="text" placeholder="YNN" name='YNN'>
        <input type="text" placeholder="YYYY" name='YYYY'>
        <input type="text" placeholder="YYYN" name='YYYN'>
        <input type="text" placeholder="YYNY" name='YYNY'>
        <input type="text" placeholder="YYNN" name='YYNN'>
        <input type="text" placeholder="YNYY" name='YNYY'>
        <input type="text" placeholder="YNYN" name='YNYN'>
        <input type="text" placeholder="YNNY" name='YNNY'>
        <input type="text" placeholder="YNNN" name='YNNN'>

        <input type="text" placeholder="N" name='N'>
        <input type="text" placeholder="NY" name='NY'>
        <input type="text" placeholder="NN" name='NN'>
        <input type="text" placeholder="NYY" name='NYY'>
        <input type="text" placeholder="NYN" name='NYN'>
        <input type="text" placeholder="NNY" name='NNY'>
        <input type="text" placeholder="NNN" name='NNN'>
        <input type="text" placeholder="NYYY" name='NYYY'>
        <input type="text" placeholder="NYYN" name='NYYN'>
        <input type="text" placeholder="NYNY" name='NYNY'>
        <input type="text" placeholder="NYNN" name='NYNN'>
        <input type="text" placeholder="NNYY" name='NNYY'>
        <input type="text" placeholder="NNYN" name='NNYN'>
        <input type="text" placeholder="NNNY" name='NNNY'>
        <input type="text" placeholder="NNNN" name='NNNN'>

        <input type="submit">
    </form>

    <script src="js/main.js"></script>
</body>
</html>
