.Nav {
	display: flex;
	justify-content: space-evenly;
	margin-top: 3rem;
}

.clickable:hover {
	cursor: pointer;
	font-weight: bold;
}

.primary {
	font-size: 2rem;
	margin: 0.2rem;
}

button:hover {
	cursor: pointer;
}
