/* form */
.Plant {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border: 1px solid black;
}

.Plant__form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.container__sets_questions {
	margin: 1rem auto;
	display: flex;
}

.container__sets_questions fieldset:first-child {
	border-right: 1px solid var(--color-top);
}

.Plant__form input {
	margin-bottom: 1rem;
	padding: 0.5rem;
	font-size: 1rem;
	border-bottom: 2px solid var(--color-top);
	background-color: var(--color-bkg);
	font-weight: bold;
	width: 100%;
}

.Plant__form input[name='passcode'] {
	border: 2px solid var(--color-top);
	font-style: italic;
	margin: 2rem 0;
	width: 15rem;
}

@media screen and (max-width: 700px) {
	.container__sets_questions {
		flex-direction: column;
	}

	.container__sets_questions fieldset:first-child {
		border: none;
		margin-bottom: 3rem;
	}
}
